@import 'variables';

html {
  font-size: $base-font-size;
}

body {
  font-family: $font-family;
  font-size: 1em;
  background-color: $gray;
  color: $text-color;
}

h1 {
  font-size: 2em;
  color: white;
  width:90%;
  padding: 10px;

}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1em;
}

h1,
h2,

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  background-color: $support-blue;
  padding: 10px 5px;
}

.cart {
  display: flex;
  width:5%;
  transform: translateY(20px);
  color:white;
}

.fa-shopping-cart {
  padding: 5px;
}


.fa-shopping-cart:before {
  content: "\f07a";
  color: white;
}

.goods {
  margin:10px;
  padding: 20px;
}

.phones {
  display: flex;
  margin-bottom: 10px;
}

.phone {
  width: 33%;
  padding: 10px;
}


.product-footer{
  display: flex;
}

button {
  background-color: $support-blue;
  padding: 5px 10px;
  width: 20%;
  margin-left: 10px;
}

button:focus {
  background-color: $second-blue;
}

